[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
django-crispy-forms = "*"
xhtml2pdf = "*"
django-environ = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
